.destination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    background-image: url('../../assets/destination/background-destination-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    color: #fff;
    overflow: auto;
}

.dest-box {
    margin-top: 100px;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    gap: 250px;
}

.dest-title {
    flex: 1;
    text-align: left;
    padding-top: 18vh;
    padding-right: 50vw;

}

.dest-nav {
    z-index: 1;
    position: absolute;
    padding-bottom: 40vh;
    padding-left: 28vw;
}

.dest-description {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 30%;
}

 .dest-name {
    font-size: 80px;
}

.distance-and-time {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

@media (max-width: 1080px) {
    .destination {
        flex-direction: column;
    }

    .dest-title {
        padding-right: 0;
        flex: none;
        margin-top: 300px;
    }

    .dest-nav {
        position: absolute;
        padding-bottom: 0;
        margin-top: 600px;
        padding-left: 0;
    }

    .dest-box {
        padding: 20px;
        position: relative;
        flex-direction: column;
        align-items: center;
        gap: 0;
        text-align: center;
    }

    .img-fluid {
        padding-bottom: 20px;
        height: 70%;
    }

    
    .dest-description {
        max-width: 70vw;
        gap: 40px;
    }
    
    .distance-and-time {
        justify-content: center;
        gap: 20px;
    }
    
}


@media (max-width: 768px) {
    .destination {
        background-image: url('../../assets/destination/background-destination-tablet.jpg');
    }

}

@media (max-width: 480px) {
    .destination {
        background-image: url('../../assets/destination/background-destination-mobile.jpg');
    }

    .dest-nav {
        margin-top: 500px;
    }

    .dest-name {
        font-size: 50px;
    }
}
